services:
 - docker
before_install:
  - docker run --rm -i lukasmartinelli/hadolint hadolint --ignore DL4000 --ignore DL3008 - < Dockerfile
install:
  - docker build -t --build-arg VCS_REF=$TRAVIS_COMMIT --build-arg BUILD_DATE="$(date -u +"%Y-%m-%dT%H:%M:%SZ")" puppet .
  - docker run -d -p 127.0.0.1:8140:8140 --name puppet puppet
script:
  - docker ps | grep -q puppet
